<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
		 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
		 <link href="bounty.css" rel="stylesheet" type="text/css"/>
	<title>Movie Lovers</title>
</head>

<body>
	<div class="big-info">
		<div class="container text-xs-center">
		    <h1 class="display-5 m-t-3 m-b-3">Welcome to Movie Lovers Trivia!</h1>
			<h3 class="m-b-3">Search for a movie here</h3>
			<div class="input-group">
				<span class="input-group-btn">
					<form action="/movie_picker" method="get">
						<input type="text" class="form-control" placeholder="Enter a movie term" name='movie_term'>
						<button class="btn btn-primary" type="submit">Submit</button>
					</form>
				</span>
			</div>
	    </div>
	</div>
</body>

</html>