<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
		 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
		 <link href="bounty.css" rel="stylesheet" type="text/css"/>
		 <title>Movie Lovers</title>
</head>

<body>
	<div class="container text-xs-center">
		<h1 class="display-5 m-t-3 m-b-3">Trivia Results Found: <%= @input %></h1>

		<% @movies.each do |movie| %>
			<img src="<%= movie.poster %>" height="150px">
		<% end %>

		<h3 class="m-t-3">Which movie was released in the year 2000?</h3>
		<form action="" method="get">
			<input type="text" class="form-control" placeholder="Enter year" name='movie_term'>
			<button class="btn btn-primary" type="submit">Submit</button>
		</form>
	</div>
</body>

</html>