/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

.header {
	padding-top: 15px;
	padding-bottom: 5px;
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 12px;
	color: #484848;
}

link_to {
	color: #484848;
}

.logo { 
	background: image-url('Airbnb-logo.png') no-repeat;
    background-size: 50px 50px;
    background-repeat: no-repeat;
}