<ul>
	<% @sandwich.each do |sandwich| %>
		<li>
			<%= link_to(sandwich.name, sandwich_path(sandwich)) %>
			<% if sandwich.description.present? %>
				- <%= sandwich.description %>
			<% end %>
		</li>
	<% end %>
</ul>
