<center><img src = "/Carefree-Lifestyle-Logo.png"
alt="Carefree Lifestyle Logo">

<h1>My First Sinatra</h1>
<p>
	<b>Author:</b>
	Melanie Blazevic | Graphic Designer | Miami, FL
</p>

<p>
The date today is <%= Date.today %>
</p>

<% if Date.today.tuesday? %>
<h1> Monday's are the worst..</h1>
<h2> It's Tuesday!</h2>
<p>
	I love Tuesdays!
</p>
<% end %></center>