<header class="container">
  <div class="row">
    <h1>Unleash your closet.</h1>
  </div>
</header>

<div class="container text-center">
	<div class="row">
	    <p class="lead">Find gently used, beautiful accessories close to home, and offer items that you no longer use.</p>
	    <hr>

	    <p>Founded in September of 2016 and based in Miami, Florida. Wearable is a trusted community for people to share clothing and accessories.</p>
	</div>
</div>


<div class="container text-center">
	<div class="row">
		<h1 class="display-1">SHARE,
		<br> REQUEST,
		<br> WEAR </h1>
		<p class="lead">Explore different products today.</sp>
	</div>
</div>


<div class="container input-group text-center">			
	<!-- Search -->
	<div class="container center-item">
		<div class="row">
			<div class="col-lg-12">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Enter an item...">
					<span class="input-group-btn">
						<button class="btn btn-info white-text">Search</button>
					</span>
				</div>
			</div>
		</div>
	</div>
	<!-- Search -->
</div>
<br>

<div class="container text-center">
	<div class="row">      
		<button class="btn btn-info white-text">
			<%= link_to "Join", new_user_registration_path %>
		</button>
		
		<button class="btn btn-info white-text">
			<%= link_to "Login", new_user_session_path %>
		</button>
    </div>
</div>
<br>

<div class="container text-center">
	<div class="row">
		
		<div class="col-sm-4">
		    <b>Search for a product</b>
		    <div class="well well-lg text-center">
			    <span>Browse listings to find amazing items nearby.</span>
	        </div>
	    </div>

		<div class="col-sm-4">
			<b>Connect with a giver</b>
	        <div class="well well-lg text-center">
	        	<span>Send messages and meet in-person.</span>
	        </div>
		</div>

		<div class="col-sm-4">
			<b>Book and meet</b>
	        <div class="well well-lg text-center">
		        <span>No cash necessary, completely free!</span>
	        </div>
	    </div>
	</div>
</div>

<div class="container home-container">
	<div class="row">
		<div class="col-xs-12 text-center">
			<h3> Welcome to your neighborhood network where you can share products </h3>
			<br>
		</div>
	
		<button class="btn btn-info white-text">
			<%= link_to "Logout", destroy_user_session_path, :method => :delete %>
		</button>
	</div>
	<br>
</div>
