<div class="row">
  <div class="container text-center">
    <h1>
        Get in touch.
    </h1>

    <p class="lead">Our headquarters are in Miami Beach, FL</p>
    <hr>

    <h3>Have a question?</h3>

    <px>Email us at
    <br>
	support@wearable.com
    <p>
  </div>
</div>
