<!--	<div class="container-fluid text-xs-center m-t-3">
		<div id="hero">
		<div id="hero-overlay"></div> -->

	<div class="row">
		<div class="container text-center">
			<h1 class="display-1">SHARE,
			<br> REQUEST,
			<br> WEAR </h1>
			<p class="lead">Explore different products today.</p>
		</div>
	</div>


	<div class="row">
		<div class="container input-group text-center">
				
			<input class="form-control" placeholder="Enter your email information..."></input>

			<span class="input-group-btn">
				<button class="btn btn-primary">Sign Up!</button>
			</span>
		</div>
	</div>
	<br>

	<div class="row">      
        <div class="container text-center">
			<button class="btn btn-outline-info">
				<%= link_to "Join", new_user_registration_path %>
			</button>
			
			<button class="btn btn-outline-info">
				<%= link_to "Login", new_user_session_path %>
			</button>
        </div>
    </div>
    <br>


	<div class="row">
		<div class="container text-center">
			
			<div class="col-sm-4">
			    <p>Search for a product</p>
			    <div class="well well-lg text-center">
				    <a>Browse profiles and read reviews</a>
		        </div>
		    </div>

			<div class="col-sm-4">
				<p>Connect with a giver</p>
		        <div class="well well-lg text-center">
		        	<a>Send messages and meet in-person</a>
		        </div>
			</div>

			<div class="col-sm-4">
				<p>Book and meet</p>
		        <div class="well well-lg text-center">
			        <a>No cash, check, or tips necessary, completely free!</a>
		        </div>
		    </div>

			<button class="btn btn-outline-info">
				<%= link_to "Logout", signout_path %>
			</button>
		</div>
	</div>

	<div class="row">
		<div class="container home-container">
		
			<div class="col-xs-12 text-center">
				<h3> Welcome to your neighborhood network where you can share products </h3>
			</div>
		</div>
	</div>


