<body>

	<div class="container-fluid text-xs-center m-t-3">
		<div id="hero">
			<div id="hero-overlay"></div>

			<h1 class="display-1">SHARE,</h1>
			<h1 class="display-1">REQUEST</h1>
			<h1 class="display-1">WEARABLE</h1>
			<p class="lead m-b-3">Explore different products today.</p>
				<div class="col-lg-6 offset-lg-3">
			    <div class="input-group">
					<input type="text" class="form-control" placeholder="Enter your email for information...">
					<span class="input-group-btn">
					<button class="btn btn-primary" type="button">Sign Up!</button>
				</span>
				</div>
				</div>
			</div>
			<br>

			<div class="container offset-lg-3">      
		        <div class="col-sm-4">
					<button type="button" class="btn btn-outline-info">Sign Up</button>
					<button type="button" class="btn btn-outline-info">Login</button>
		        </div>
	    </div>
	    <br>
	    <br>
	</div>

	<div class="container-fluid m-b-3">
		<!-- About -->
		<div class="row">
			<div class="col-sm-4">
				<div class="list-container">
				    <h6 class="header text-xs-center">Search for a product</h6>
				    <div class="list-group">
					    <a href="#" class="list-group-item text-xs-center">Browse profiles and read reviews</a>
			        </div>
			    </div>
			</div>

			<div class="col-sm-4">
				<div class="list-container">
			        <h6 class="header text-xs-center">Connect with a giver</h6>
			        <div class="list-group">
				        <a href="#" class="list-group-item text-xs-center">Send messages and meet in-person</a>
			        </div>
			    </div>
			</div>

			<div class="col-sm-4">
				<div class="list-container">
			        <h6 class="header text-xs-center">Book and meet</h6>
			        <div class="list-group">
				        <a href="#" class="list-group-item text-xs-center">No cash, check, or tips necessary, completely free!</a>
			        </div>
			    </div>
			</div>
		</div>
		<!-- About -->
	</div>
	<!-- Container -->
</body>
