<!-- Page for partial, appears only on page where partial is rendered -->

<!-- <footer>
	<center><p><%#= link_to("Concerts", concerts_path) %> | <%#= link_to("New Concert", new_concert_path) %></p></center>
</footer> -->
