<header class="container">
    <div class="row">
        <h1 class="center-item">View all posts.</h1>
    </div>
    <hr>
</header>

<div class="container">
    <div class="row">
        
        <div>
	        Post
	    </div>
	</div>
</div>

<%= render 'form' %>
