<header class="container">
    <div class="row">
        <h1 class="center-item">Create a new post.</h1>
    </div>
</header>

<%= render 'form' %>

<div class="container center-item">
    <button class="btn-grey">
      <%= link_to "View all posts", posts_path(@post) %>
    </button>
</div>
