<% @posts.each do |post| %>
	        <h3><%= post.title %></h3>
	        <!-- Rails helper image tag -->
		  	<%= image_tag(post.gif_url) %>
	<p><%= link_to "See Post", post_path(post) %></p>
<% end %>
