/*video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover; 
}
*/
/*.video {
 position: absolute;
 top: 50%; left: 50%;
 z-index: 1;
 min-width: 100%;
 min-height: 100%;
 width: auto;
 height: auto;
 transform: translate(-50%, -50%);
}*/

/*#video-background {
  position: absolute;
  display: block;  
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: initial;   
  height: auto;  
  z-index: 1;
  margin: 0 auto;
  object-fit: cover;
  padding: 0;
}*/

form {
  text-align: center;
}

textarea {
  width: 80%;
}

h1 {
  font-family: Montserrat;
  margin-top: 40px;
}

h1.display-1 {
  font-family: Montserrat;
}

.center-item {
  text-align: center;
}

h1.center-item {
  font-family: Montserrat;
  margin-top: 40px;
}

.reg-form {
  max-width: 800px;
}

/*.form-container {
  width: 840px;
  margin: 25px auto
  padding-left: 100px;
  max-width: 600px;
}*/

.home-container {
  margin-top: 30px;
}
/*
.signup {
  float: left;
  width: 300px;
  padding: 30px 20px;
  background-color: white;
  text-align: center;
  border-radius: 5px 0 0 5px;
}*/

.login-email {
  margin-top: 40px;
}

[type=text] {
  display: block;
  margin: 0 auto;
  width: 80%;
  border: 0;
  border-bottom: 1px solid rgba(0,0,0,.2);
  height: 45px;
  line-height: 45px;
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: 1em;
  color: rgba(0,0,0,.4);
}

[type=email] {
  display: block;
  margin: 0 auto;
  width: 80%;
  border: 0;
  border-bottom: 1px solid rgba(0,0,0,.2);
  height: 45px;
  line-height: 45px;  
  margin-bottom: 10px;
  font-size: 1em;
  color: rgba(0,0,0,.4);
}

[type=password] {
  display: block;
  margin: 0 auto;
  width: 80%;
  border: 0;
  border-bottom: 1px solid rgba(0,0,0,.2);
  height: 45px;
  line-height: 45px;  
  margin-bottom: 10px;
  font-size: 1em;
  color: rgba(0,0,0,.4);
}

[type=submit] {
  margin-top: 25px;
  width: 80%;
  border: 0;
  background-color: #53CACE;
  border-radius: 5px;
  height: 50px;
  color: white;
  font-weight: 400;
  font-size: 1em;
}

[type='text']:focus {
  outline: none;
  border-color: #53CACE;
}

[type='email']:focus {
  outline: none;
  border-color: #53CACE;
}

[type='password']:focus {
  outline: none;
  border-color: #53CACE;
}

.nav {
    float: right;
}

a {
  color: grey;
}

.btn.btn-info {
  background-color: #53CACE;
}

.btn-grey {
  background-color: #a5acad;
  border-radius: 25px;
}

.btn-grey {
  margin-top: 25px;
  width: 30%;
  border: 0;
  background-color: #a5acad;
  border-radius: 5px;
  height: 50px;
  color: white;
  font-weight: 400;
  font-size: 1em;
}

.nav-link {
  background-color: #53CACE;
  border-radius: 25px;
  padding-left: 15px;
  padding-right: 15px;
}



/*body {
  margin: 0px;
  background-image: url("/assets/background.jpg");
  background-size: cover;
  position: absolute;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    bottom: 0;
  max-width: 100%;
  height: auto;
  z-index: 0;
}*/

/*#hero {
  position: relative;
  top: 0;
  bottom: 0;
  height: 100vh;
  z-index: 0;
}

#hero-overlay {
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    bottom: 0;
  height: 100%;
  width: 100%;
  z-index: -5;
}

body h1 {
  color: white;
}

body p {
  color: white;
}

.container-fluid {
  margin-top: 40px;
}

html {
  box-sizing: border-box;
}

.logo {
    float: left;
    margin: 19px 17px 0 0;
}

.nav.navbar-nav {
  padding-right: 70px;
}

.navbar-brand {
  color: white;
  padding-left: 70px;
}

.nav-link {
  color: white;
}*/
