body {
	margin: 0px;
	background-image: url("/assets/background.jpg");
	background-size: cover;
	position: absolute;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    bottom: 0;
	max-width: 100%;
	height: auto;
	z-index: 0;
}

/*#hero {
	position: relative;
	top: 0;
	bottom: 0;
	height: 100vh;
	z-index: 0;
}
*/

#hero-overlay {
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    bottom: 0;
	height: 100%;
	width: 100%;
	z-index: -5;
}

body h1 {
	color: white;
}

body p {
	color: white;
}

.container-fluid {
	margin-top: 40px;
}

html {
	box-sizing: border-box;
}

.logo {
    float: left;
    margin: 19px 17px 0 0;
}

.nav {
    float: right;
}

.nav.navbar-nav {
	padding-right: 70px;
}

.navbar-brand {
	color: white;
	padding-left: 70px;
}

.nav-link {
	color: white;
}
